/*header*/
.header-styles{
    background-color: #a94f76;    
    height: 64px;        
    display: flex;
    align-items: center;
}

.menu-styles{
    background-color: #6c1334;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;    
}

/*font*/
.all-font{    
    padding-left: 64px;
    color: white;
}